@import 'assets/styles/mixins';
@import 'assets/styles/variables';
@import 'assets/styles/base';

.alert-list {
    min-height: 100%;
    background-color: $white;
    padding: 5%;

    &__list {
        padding: 5%;
    }

    &__create-btn {
        @extend %responsive-btn;

        @include breakpoint(not-mobile) {
            width: 10%;
            align-self: flex-end;
        }

        @include breakpoint(mobile) {
            font-size: 26px;
            position: fixed;
            right: 5%;
            bottom: 10%;
        }
    }

    &__action {
        @include breakpoint(mobile) {
            display: none;
        }
    }

    &__load-more-btn {
        text-align: center;
        margin: 5% 40%;
        width: 20%;
    }

    &__empty-state {
        color: $disabled-color;
        font-size: 16px;
        margin: 10% 0;
    }
}