.app {
    
    &__header {
        color: #fff;
        font-size: 18px;
        padding: 0 25px;
    }

    &__content {
        min-height: 100%;
        position: relative;
        background-color: #fff;
    }

    &__footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}