@import 'assets/styles/variables';

.app {
    height: 100%;

    &__header {
        color: #fff;
        font-size: 18px;
        padding: 0 25px;
    }

    &__content {
        position: relative;
        background-color: #fff;
    }

    &__footer {
        width: 100%;
        height: $footer-height;
        margin-top: -$footer-height;
        z-index: 1;
    }
}